body {
    min-width: 320px;
    // min-height: 100vh;
    font-family: 'ALS Hauss', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
    // overflow-x: hidden;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
}