.features {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 12px;
		background: #fff;
		top: -12px;
		left: 0;
		border-top-left-radius: 13px;
		border-top-right-radius: 13px;
	}
	&__wrapper {
		padding-top: 30px;
	}
	&__list {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	&__item {
        width: 300px;
        margin: 0 auto;
		margin-top: 32px;
		display: flex;
		flex-direction: column;
		align-items: center;
		&:first-child {
			margin-top: 0;
		}
	}
	&__logo {
		width: 56px;
		height: 56px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #FEE600;
		border-radius: 16px;
	}
	&__text {
		margin: 0;
		margin-top: 12px;
		padding: 0 7px;
		font-weight: normal;
		text-align: center;
		color: #2B2D33;
	}
}

@media(min-width: 768px) {
    .features {
		&__wrapper {
			padding-top: 60px;
		}
		&__list {
			flex-direction: row;
		}
		&__item {
			width: calc(33.33% - 16px);
			margin-top: 0;
			margin-right: 24px;
			align-items: flex-start;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		&__logo {
			width: 70px;
			height: 70px;
			&--umbrella img {
				width: 46px;
				height: 47px;
			}
			&--time img {
				width: 47px;
				height: 47px;
			}
			&--money img {
				width: 56px;
				height: 47px;
			}
		}
		&__text {
			padding: 0;
			margin-top: 22px;
			text-align: left;
		}
	}
}

@media(min-width: 1024px) {
    .features {
		&:before {
			display: none;
		}
	}
}

@media(min-width: 1200px) {
    .features {
		&__item {
			width: calc(33.33% - 24px);
			margin-right: 36px;
			flex-direction: row;
			justify-content: space-between;
		}
		&__text {
			margin-top: 0;
			width: calc(100% - 93px);
		}
	}
}