@font-face {
	font-family: 'ALS Hauss';
	font-display: swap;
	src: local("O"), url("../fonts/ALSHauss/ALSHauss-Bold.woff") format("woff"),
			url("../fonts/ALSHauss/ALSHauss-Bold.woff2") format("woff2"),
			url("../fonts/ALSHauss/ALSHauss-Bold.ttf") format("truetype"), 
			url("../fonts/ALSHauss/ALSHauss-Bold.eot") format("eot"), 
			url("../fonts/ALSHauss/ALSHauss-Bold.otf") format("opentype"), 
			url("../fonts/ALSHauss/ALSHauss-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ALS Hauss';
	font-display: swap;
	src: local("O"), url("../fonts/ALSHauss/ALSHauss-Medium.woff") format("woff"),
			url("../fonts/ALSHauss/ALSHauss-Medium.woff2") format("woff2"),
			url("../fonts/ALSHauss/ALSHauss-Medium.ttf") format("truetype"), 
			url("../fonts/ALSHauss/ALSHauss-Medium.eot") format("eot"), 
			url("../fonts/ALSHauss/ALSHauss-Medium.otf") format("opentype"), 
			url("../fonts/ALSHauss/ALSHauss-Medium.svg") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ALS Hauss';
	font-display: swap;
	src: local("O"), url("../fonts/ALSHauss/ALSHauss-Regular.woff") format("woff"),
			url("../fonts/ALSHauss/ALSHauss-Regular.woff2") format("woff2"),
			url("../fonts/ALSHauss/ALSHauss-Regular.ttf") format("truetype"), 
			url("../fonts/ALSHauss/ALSHauss-Regular.eot") format("eot"), 
			url("../fonts/ALSHauss/ALSHauss-Regular.otf") format("opentype"), 
			url("../fonts/ALSHauss/ALSHauss-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ALS Hauss';
	font-display: swap;
	src: local("O"), url("../fonts/ALSHauss/ALSHauss-Light.woff") format("woff"),
			url("../fonts/ALSHauss/ALSHauss-Light.woff2") format("woff2"),
			url("../fonts/ALSHauss/ALSHauss-Light.ttf") format("truetype"), 
			url("../fonts/ALSHauss/ALSHauss-Light.eot") format("eot"), 
			url("../fonts/ALSHauss/ALSHauss-Light.otf") format("opentype"), 
			url("../fonts/ALSHauss/ALSHauss-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Navigo';
	font-display: swap;
	src: local("O"), url("../fonts/Navigo/Navigo-Bold.woff") format("woff"),
			url("../fonts/Navigo/Navigo-Bold.woff2") format("woff2"),
			url("../fonts/Navigo/Navigo-Bold.ttf") format("truetype"), 
			url("../fonts/Navigo/Navigo-Bold.eot") format("eot"), 
			url("../fonts/Navigo/Navigo-Bold.otf") format("opentype"), 
			url("../fonts/Navigo/Navigo-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal;
}

