.footer {
    &__wrapper {
		padding: 24px 0;
		& .blog-list {
			display: none;
			width: 170px;
			flex-direction: column;
			margin-left: auto;
			&__descr {
				margin-top: 6px;
			}
			&__item {
				margin-bottom: 6px;
				&--social {
					& .blog-list__descr {
						margin-top: 0;
					}
					& .blog-list__title {
						margin-top: 6px;
					}
                }
                & a {
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                }
			}
			&__text {
				margin-top: 0;
				margin-left: 8px;
			}
		}
    }
    &__copy {
		margin-top: 21px;
		padding-top: 21px;
		font-style: normal;
		font-weight: 300;
		font-size: 12px;
		line-height: 18px;
		color: #55575C;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			height: 1px;
			top: -1px;
			right: -16px;
			left: -16px;
			background: #E1E1E3;
		}
		&-text {
			margin: 0;
			margin-top: 18px;
		}
		&-location {
			margin: 0;
			font-size: 13px;
			font-weight: 400;
		}
	}
}

@media(min-width: 768px) {
    .footer {
        &__wrapper {
			padding: 46px 0;
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			& .feedback {
				display: none;
			}
			& .site-manage {
				margin-top: 0;
				& li + li {
					margin-top: 8px;
				}
				& .logo {
                    display: flex;
					margin-top: 17px;
				}
			}
			& .blog-list {
				display: flex;
				margin-top: 5px;
				& a {
					flex-direction: row;
				}
			}
		}
		&__copy {
			order: -1;
			width: 276px;
			margin-top: 0;
			margin-right: 24px;
			padding-top: 0;
			&:before {
				display: none;
			}
		}
    }
}

@media(min-width: 1024px) {
    .footer {
		&__copy {
			width: 465px;
		}
    }
}

@media(min-width: 1200px) {
    .footer {
        &__copy {
			width: 475px;
			margin-right: 106px;
		}
    }
}